<header>
    <nav [style.color]="app.getTheme(800)">
        <h2>Al-Bashir Presentation</h2>
        <ul class="buttonGroup">
            <li>
                <i class="pi pi-minus"></i>
            </li>
            <li>
                <i class="pi pi-image"></i>
            </li>
            <li>
                <i class="pi pi-images"></i>
            </li>
            <li>
                <i class="pi pi-times"></i>
            </li>
        </ul>
    </nav>
    <div [style.background]="app.getTheme(800)"></div>
    <!-- <section>
        <ul class="buttonGroup" [style.color]="app.getTheme(800)">
            <li>File</li>
            <li>Insert</li>
            <li>File</li>
            <li>Insert</li>
        </ul>
    </section>
    <router-outlet></router-outlet> -->
</header>